Repository inda19plusplus/logik, pull requests merged in 2020-05, with the labels that each got.

#30 Talking between Rust and C#
  native/logik_simulation/Cargo.toml
  native/logik_simulation/src/data/component.rs
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/data/subnet.rs
  native/logik_simulation/src/ffi.rs
  native/logik_simulation/src/lib.rs
  src/LogikUI/Circuit/Gates.cs
  src/LogikUI/Interop/Logic.cs
  src/LogikUI/LogikUI.csproj
  src/LogikUI/Program.cs
  src/LogikUI/Simulation/Gates/InstanceData.cs
Labels: enhancement

#38 Simulation
  native/logik_simulation/src/data/component.rs
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/data/subnet.rs
  native/logik_simulation/src/data/test/mod.rs
  native/logik_simulation/src/ffi.rs
  native/logik_simulation/src/lib.rs
  native/logik_simulation/src/macros.rs
  src/LogikUI/Interop/Logic.cs
Labels: area-simulation, enhancement, rust

#47 More components
  native/logik_simulation/src/data/component.rs
  native/logik_simulation/src/data/component/components.rs
  native/logik_simulation/src/data/component/mod.rs
  native/logik_simulation/src/data/component/statefuls.rs
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/data/subnet.rs
  native/logik_simulation/src/data/test/mod.rs
  native/logik_simulation/src/ffi.rs
  native/logik_simulation/src/ffi/mod.rs
  native/logik_simulation/src/ffi/test.rs
  native/logik_simulation/src/lib.rs
  src/LogikUI/Interop/Logic.cs
  src/LogikUI/Simulation/Gates/ComponentType.cs
Labels: area-simulation, enhancement, rust

#49 Bugfix
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/ffi/test.rs
  src/LogikUI/Interop/Logic.cs
Labels: area-simulation, bug, rust

#51 Rework of edge storing
  native/logik_simulation/src/data/component/statefuls.rs
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/data/test/mod.rs
  native/logik_simulation/src/ffi/test.rs
Labels: area-simulation, bug, enhancement, rust

#36 [WIP] Wire/Component connection interactions
  native/logik_simulation/src/ffi/mod.rs
  src/LogikUI/Circuit/CircuitEditor.cs
  src/LogikUI/Circuit/Gates.cs
  src/LogikUI/Circuit/Scene.cs
  src/LogikUI/Circuit/Wire.cs
  src/LogikUI/Circuit/WireBundle.cs
  src/LogikUI/Circuit/Wires.cs
  src/LogikUI/Interop/Logic.cs
  src/LogikUI/Program.cs
  src/LogikUI/Properties/launchSettings.json
  src/LogikUI/Simulation/Gates/AndGate.cs
  src/LogikUI/Simulation/Gates/BufferGate.cs
  src/LogikUI/Simulation/Gates/Constant.cs
  src/LogikUI/Simulation/Gates/IComponent.cs
  src/LogikUI/Simulation/Gates/InstanceData.cs
  src/LogikUI/Simulation/Gates/NotGate.cs
  src/LogikUI/Simulation/Gates/OrGate.cs
  src/LogikUI/Simulation/Gates/XorGate.cs
  src/LogikUI/Simulation/Subnet.cs
  src/LogikUI/Toolbar/ComponentTool.cs
  src/LogikUI/Toolbar/SelectTool.cs
  src/LogikUI/Toolbar/WireTool.cs
  src/LogikUI/Transaction/ConnectionPointsTransaction.cs
  src/LogikUI/Transaction/GateTransaction.cs
  src/LogikUI/Util/Icon.cs
Labels: C#, area-GUI, enhancement

#52 Bugfixes
  native/logik_simulation/src/data/component/mod.rs
  native/logik_simulation/src/data/mod.rs
  native/logik_simulation/src/data/subnet.rs
  native/logik_simulation/src/data/test/mod.rs
  native/logik_simulation/src/ffi/mod.rs
  native/logik_simulation/src/ffi/test.rs
  src/LogikUI/Circuit/Scene.cs
  src/LogikUI/Properties/launchSettings.json
  src/LogikUI/Simulation/Subnet.cs
Labels: C#, area-simulation, bug, rust

#42 File Manager and Save File Functionality
  .editorconfig
  logik.sln
  src/LogikUI/File/FileManager.cs
  src/LogikUI/File/InvalidProjectDataException.cs
  src/LogikUI/File/structure.xsd
  src/LogikUI/File/test.xml
  src/LogikUI/LogikUI.csproj
  src/LogikUI/LogikUI.sln
  src/LogikUI/Program.cs
  src/LogikUI/Util/Output.cs
Labels: C#, area-save-files, enhancement
